<div class="row">
<<<<<<< HEAD

=======
<h1 style ="color:white;">index & dex </h1>
>>>>>>> edbc44843b92405119d312d8a91ee115e991ed7a
  <% @albums.each do |album| %>  

  <div class="col-md-3">
    <%= link_to(album) do %>
      <div class="thumbnail">
        <img src="<%= album.cover %>">
        <div class="caption">
          <h1>index</h1>
          <h3 class="title"> <%= album.title %> </h3>

          <p class="artist"><%= album.artist %>  </p>
        </div>
      </div>
    <% end %>
  </div>
  <%end%>
  
</div>


